* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	
}

header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 100vh;
}

/*navbar*/
nav.navbar {
	font-weight: 10px;
}

.navbar-dark.scrolled {
	background-color: #333333;
}
/*end of navbar*/
/*header*/
.animate__animated.animate__fadeInDown {
	--animate-duration: 3s;
}

#intro-banner > h1 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 8rem;
	color: #333333;
}

#intro-banner > .lead {
	font-size: 2rem;
	text-shadow: 2px 2px #ffffff;
	color: #333333;
}

.transparent {
	background-color: rgba(0,0,0,0);
	width: 0px;
}

a:link {
	box-shadow: 0 2px 6px 0, hsla(0, 0%, 0%, 0.2);
	cursor: pointer;
	transition: all .2s ease-in-out;
	color: black;
}

a:hover {
	transform: scale(1.1);
	cursor: pointer;
}

a.btn {
	border-width: 2px;
	border-color: #333;
	background-color: #333;
	color: #ffd344;
}
/*end of header*/
/*about me*/
#about-me {
	background-color: #1a1a1a;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.48'%3E%3Cpolygon fill='%23483f22' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2376642b' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23a38933' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23d1ae3c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23ffd344' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	color: #f3f3f3;
	letter-spacing: 3px;
	width: 100%;
	min-height: 100vh;
}
	
#about-me img {
	height: 15em;
	width: 15em;
	border-radius: 50%;
	margin: 6em 0;
}

#about-caption {
	text-shadow: 2px 2px #333333
}

#about-caption h1 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 4em;
}

#about-caption p {
	font-size: 1.5em;
	margin-bottom: 2.5em;
}
/*end of about me*/
/*skills grid*/
.skill-title > h1{
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	color: #333;
	letter-spacing: 3px;
	padding: 1.5em 0;
	font-size: 4em;
}
 
.zone {
    cursor:pointer;
    display:inline-block;
    text-align: center;
    font-size:7em;
    border-radius:4px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    transition: all 0.3s linear;
    margin: 2rem 2rem;
    position: relative;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.zone > img {
	width: 100px;
	height: 100px;
	padding-bottom: 10px;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.zone:hover img {
	opacity: 0.2;
}

.zone:hover .middle {
	opacity: 1;
}

.text {
	color: black;
	font-size: 16px;
	padding: 16px 32px;
}

/*css buttons*/
.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

/***********************************************************************
 *  Purple Background
 **********************************************************************/
.purple {
    background: #A88BEB; /* Old browsers */
    background: -moz-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A88BEB), color-stop(44%,#F1A7F1), color-stop(100%,#F8CEEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* IE10+ */
    background: linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* W3C */
}

/***********************************************************************
 *  Brown Background
 **********************************************************************/
.brown {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}
/*css buttons end*/
/*end of skills grid*/

/*projects*/
.projects {
	padding: 30px 30px 0 30px;
}

.card {
	margin: 1em 2.5em;
}
/*end of projects*/

/*contact details*/
#contact-details {
	background-color: #FFD344;
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 3px;
}

#contact-details > h3 {
	font-size: 4rem;
	margin-bottom: 1em;
	color: #333;
}
/*end of contact details*/

/*footer*/
footer {
	background-color: #333;
}

#footer.contact-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: flex-end;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  /* padding: 0;*/
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #FFCA3A;
}

.social-network a.icoInstagram:hover {
  background-color: #FFCA3A;
}

.social-network a.icoTwitter:hover {
  background-color: #FFCA3A;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
/*end footer*/

/*scroll to top*/
#back-to-top {
  display: inline-block;
  background-color: #FFD344;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 70px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
#back-to-top:active {
  background-color: #555;;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
/*end of scroll to top*/

/*Media Queries*/
@media only screen and (max-width: 600px) {
	header {
		background-image: url(../images/yellow-glasses.jpg);
	}

	#intro-banner > h1 {
		font-size: 30px;
		margin-top: 5rem;
	}

	#intro-banner > .lead {
	font-size: 15px;
	}

	a.btn {
		font-size: 15px;
	}

	.col-12.col-md-3.offset-md-4.col-lg-3.first-about {
	margin: 40px auto 0 auto;
	padding: 0 50px;
	}

	#skill-set > h1{
		font-family: 'Bebas Neue', sans-serif;
		margin: 40px 0;
		padding: 0 10px;
	}

	.zone {
		cursor:pointer;
		display:inline-block;
		text-align: center;
		font-size:7em;
		border-radius:4px;
		box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
		transition: all 0.3s linear;
		margin: 1rem 1rem;
		position: relative;
	}

	#about-caption h1 {
		font-size: 2em;
	}

	#about-caption p {
		font-size: 1em;
	}

	.navbar{
		background-color: #333;
	}
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
	header {
		background-image: url(../images/yellow-glasses.jpg);
	}

	#intro-banner {
		padding-right: 3rem;
		margin-top: 5rem;
	}

	a.btn {
		font-size: 20px;
	}

	.col-12.col-md-3.offset-md-4.col-lg-3.first-about {
	margin: 40px auto 0 auto;
	padding: 0 50px;
	}

	.navbar{
		background-color: #333;
	}
}

@media only screen and (min-width: 992px) {
	header {
		background-image: url(../images/yellow-glasses.jpg);
	}

	#intro-banner {
	padding-right: 5rem;
	margin-top: 12rem;
	}

	a.btn {
		font-size: 20px;
	}

	.col-12.col-md-3.offset-md-4.col-lg-3.first-about {
	margin: 40px auto 0 auto;
	padding: 0 50px;
	}
}

/*end of Media Queries*/

